*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background: blue;
  padding: 15px;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

header > h2 {
  font-size: 16px;
  padding: 10px;
}
